/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

/* Root */

#root {
  font-family: "Open Sans", sans-serif;
}

/* Header */

/* navbar */

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */

.logo {
  cursor: pointer;
}

/* menu */

.menu-list {
  display: flex;
  gap: 30px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.menu-list li {
  padding: 60px 0px;
  border-bottom: 3px solid transparent;
}

.menu-list li:hover {
  border-bottom: 3px solid #0282f9;
}

.menu-list a {
  color: #464646;
}

.menu-list a:hover {
  color: #0282f9;
}

/* Main */

main {
  background-color: #000000;
}

main h2 {
  color: #ffffff;
  padding: 50px 0px;
}

/* Footer navbar */

.nav-element {
  background-color: #0282f9;
}

.f-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  gap: 30px;
  padding: 40px 0px;
}

.f-navbar li {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* navbar img */

.f-images {
  width: 40px;
}

/* navbar text */

.navbar-text {
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 10px;
}

/* Footer info */

.info {
  background-image: url(./assets/img/footer-bg.jpg);
}

.raw {
  display: flex;
  padding: 45px 0px;
  gap: 30px;
}

h3 {
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  font-size: 16px;
}

.list-info {
  padding-bottom: 20px;
  font-size: 12px;
  line-height: 25px;
  cursor: pointer;
}

.list-info a {
  color: #959595;
}

/* Footer socials */

.social-banner {
  background-color: #303030;
}

.social-container {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* social btn */

.sign-up-btn {
  all: unset;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #0282f9;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

/* social section */

.follow-us-link {
  text-transform: uppercase;
  font-weight: bold;
  color: #0282f9;
  font-size: 18px;
  cursor: pointer;
}

.social-list {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}